*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    background-color: #333;
    color: #fff;
    padding: 18px 0px;
    padding: 19px;
    
    
}
.logo{
    font-size: 23px;
    font-weight: bold;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: 
    "wdth" 100;
    
    
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav ul li{
    margin-right: 15px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}

main{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.top-news{
    flex: 3;
    margin-right: 10px;
}

.top-news .headline{
    background-color: #f4f4f4;
    padding: 15px;
    margin-bottom: 15px;
}

.top-news .smaller-articles{
    display: flex;
    flex-wrap: wrap;
}

.top-news .smaller-articles article{
    flex: 1;
    padding: 30px;
    background-color:  #f4f4f4;
    margin-right: 15px;
    margin-bottom: 20px;
}

aside{
    flex: 1;

}

aside section{
    background-color: #f4f4f4;
    padding: 40px;
    margin-bottom: 15px;
}

.latest-news{
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    display: flex;
    gap: 30px;
}

footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 24px;
    margin-bottom: -1rem;
}
 
.social-media a{
    color: #fff;
    margin: 8px;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
    }

    .top-news .smaller-articles {
        flex-direction: column;
    }

    aside {
        margin-top: 50px;
    }
}

/* Tablet View */
@media (min-width: 601px) and (max-width: 1024px) {
    .top-news .smaller-articles {
      flex-wrap: wrap;
    }
  
    .top-news .smaller-articles article {
      flex: 1 1 48%;
    }
  }
  
  /* Desktop View */
  @media (min-width: 1025px) {
    main {
      display: flex;
    }
  
    .top-news {
      flex: 3;
    }
  
    aside {
      flex: 1;
    }

    .top-news .smaller-articles article {
        flex: 1 1 30%;
    }
}